/* #region Common Styles */
body {
	font-family: 'Montserrat', serif;
	color: #111111;
	background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

address {
	font-style: normal;
}

button {
	cursor: pointer;
}

img {
	display: block;
}

.accent__color {
	color: #fd9222;
}

.container {
	max-width: 1168px;
	padding: 0 16px;
	margin: 0 auto;
}

.section__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.17;
	letter-spacing: -0.03em;
	text-align: center;
	text-transform: uppercase;
	color: #111111;
}

.visually__hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.section__paddings {
	padding: 60px 0;
}

/* #endregion Common Styles */

/* #region Header */
.header {
}

.header .container {
	display: flex;
	align-items: center;
}

.header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
}

.logo {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.11;
	letter-spacing: -0.03em;
}

.logo__style {
	font-style: italic;
}

.header__nav-list {
	display: flex;
	column-gap: 24px;
}

.nav__item {
}

.nav__item-link {
	display: block;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: -0.02em;
	padding: 32px 0;
}

.nav__item-link:hover,
.nav__item-link:focus {
	color: #fd9222;
}

.header__social-list {
	display: flex;
	column-gap: 14px;
	margin-left: 90px;
}
.header__social-item {
}
.header__social-link {
}
/* #endregion Header */

/* #region Hero */
.hero {
	color: #fff;
}

.hero .container {
	max-width: 1168px;
	border-radius: 30px;
	padding: 381px 40px 40px 40px;
	margin-bottom: 80px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: linear-gradient(
			to bottom,
			rgba(17, 17, 17, 0.4),
			rgba(17, 17, 17, 0.4)
		),
		url('../images/hero_bg.jpg');
}

.hero__title {
	max-width: 484px;
	margin-bottom: 32px;
	font-weight: 500;
	font-size: 28px;
	line-height: 1.21;
	letter-spacing: -0.03em;
}

.hero__cont-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero__cont-btn div {
	display: flex;
	column-gap: 14px;
}

.hero__btn {
	min-width: 144px;
	padding: 14px 40px;
	border: none;
	border-radius: 100px;
	font-weight: 600;
	font-size: 14px;
	color: #fff;
	background-color: #fd9222;
}

.hero__btn:hover,
.hero__btn:focus {
	color: #fd9222;
	background-color: #fcf1e0;
}

.hero__link {
	padding: 14px 40px;
	border: 1px solid #fff;
	border-radius: 100px;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: -0.03em;
}

.hero__link:hover,
.hero__link:focus {
	color: #fd9222;
	border-color: #fd9222;
}

.scroll {
	border: none;
	font-weight: 500;
	line-height: 1.29;
	letter-spacing: -0.03em;
}
/* #endregion Hero */

/* #region Benefits */
.benefits {
	margin-top: 72px;
	padding: 50px 0;
	color: #fff;
	background-color: #1e1823;
}

.benefits .container {
	padding: 0 34px;
}

.benefits__list {
	display: flex;
	column-gap: 88px;
}

.benefits__item {
	width: calc((100% - 2 * 88px) / 3);
}

.benefits__name {
	margin-bottom: 18px;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.22;
}

.benefits__description {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: -0.02em;
	color: rgba(255, 255, 255, 0.7);
}
/* #endregion Benefits */

/* #region Ingredients */
.ingredients {
	padding-top: 120px;
}

.ingredients__title {
	max-width: 411px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.ingredients__list {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
}

.ingredients__item {
	width: calc((100% - 3 * 32px) / 4);
	border: 1px solid #fd9222;
	border-radius: 15px;
	padding: 28px 23px;
}

.ingredients__name {
	font-weight: 600;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: -0.02em;
	text-transform: uppercase;
}

.ingredients__item:nth-child(4n + 1) {
	color: #fff;
	background-color: #fd9222;
}

.ingredients__item:nth-child(4n + 3) {
	border-color: #1e1823;
	color: #fff;
	background-color: #1e1823;
}

.ingredients__img {
	margin-bottom: 36px;
}
/* #endregion Ingredients */

/* #region Education */
.education {
}
.education__title {
	margin-bottom: 50px;
}

.education__name {
	max-width: 350px;
	margin-bottom: 28px;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.33;
}

.education__cont {
	display: flex;
	gap: 20px;
}

.education__cont div {
	padding: 32px;
	border-radius: 15px;
	background-color: #fff;
}

.education__list {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}

.education__description {
	position: relative;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: -0.02em;
}

.education__description::before {
	position: absolute;
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background-color: #4c4c4c;
}
/* #endregion Ingredients */

/* #region Our Products */
.products {
}

.products__title {
	margin-bottom: 50px;
}

.products__list {
	display: flex;
	flex-wrap: wrap;
	gap: 24px 18px;
}

.products__item {
	width: calc((100% - 3 * 18px) / 4);
	padding: 32px 20px;
	border: 1px solid rgba(17, 17, 17, 0.1);
	border-radius: 15px;
	background-color: #fff;
}

.products__item-text {
	text-align: center;
}

.products__img {
	margin-bottom: 8px;
}

.products__name {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: -0.02em;
	text-transform: uppercase;
}

.products__description {
	margin-bottom: 18px;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: -0.02em;
	color: rgba(17, 17, 17, 0.7);
}

.products__link {
	display: inline-block;
	border: 1px solid rgba(17, 17, 17, 0.1);
	border-radius: 100px;
	padding: 8px 20px;
	font-weight: 600;
	font-size: 14px;
}

/* #endregion Our Products */

/* #region Top Sellers */
.leaders {
}
.leaders__title {
	margin-bottom: 50px;
}

.leaders__list {
	display: flex;
	column-gap: 16px;
}

.leaders__item {
	width: calc((100% - 2 * 16px) / 3);
}

.leaders__img {
	border-radius: 15px 15px 0 0;
}

.leaders__name {
	text-align: center;
	padding: 28px 0;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(17, 17, 17, 0.1);
	border-left: 1px solid rgba(17, 17, 17, 0.1);
	border-right: 1px solid rgba(17, 17, 17, 0.1);
	border-color: rgba(17, 17, 17, 0.1);
	border-radius: 0 0 15px 15px;
}
/* #endregion Top Sellers */

/* #region Chocolate is Loved */
.reviews {
	padding-bottom: 120px;
}

.reviews__title {
	margin-bottom: 50px;
}

.reviews__list {
	display: flex;
	column-gap: 28px;
	margin-bottom: 50px;
}

.reviews__item {
	position: relative;
	width: calc((100% - 2 * 28px) / 3);
	padding: 56px 24px 24px 24px;
	border: 1px solid rgba(17, 17, 17, 0.1);
	border-radius: 15px;
	background-color: #fff;
}

.reviews__img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
}

.reviews__name {
	margin-bottom: 24px;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.33;
	text-align: center;
}

.reviews__description {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: -0.02em;
	text-align: center;
	color: rgba(17, 17, 17, 0.7);
}

.reviews__btn {
	display: block;
	margin: 0 auto;
	min-width: 222px;
	border: 1px solid #fd9222;
	border-radius: 100px;
	padding: 14px 40px;
	font-weight: 600;
	font-size: 18px;
	background-color: transparent;
}

.reviews__btn:hover,
.reviews__btn:focus {
	color: #fff;
	background-color: #fd9222;
}
/* #endregion Chocolate is Loved */

/* #region Footer */
.footer {
	color: #fff;
	background-color: #1e1823;
}

.footer__top-block {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__title {
	max-width: 300px;
	font-weight: 500;
	font-size: 28px;
	line-height: 1.21;
	letter-spacing: -0.02em;
}

.footer__contact {
}

.footer__contact-name {
	margin-bottom: 14px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.29;
}

.footer__contact-list {
}

.footer__contact-item:not(:last-child) {
	margin-bottom: 4px;
}

.footer__contact-link {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: -0.02em;
	text-align: center;
}

.footer__contact-link:hover,
.footer__contact-link:focus {
	color: #fd9222;
}

.footer__bottom-block {
	padding: 42px 0 68px 0;
}

.footer__nav {
}

.footer__nav-list {
	display: flex;
	column-gap: 24px;
}

.footer__nav-item {
}

.footer__nav-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: -0.02em;
	color: #fff;
}

.footer__nav-link:hover,
.footer__nav-link:focus {
	color: #fd9222;
}
/* #endregion Footer */
